{% extends 'admin.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/01.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Nombre de clients</h5>

                        <h3 class="fw-medium font-size-24">{{ numberCustomers|length }}<i
                                    class="mdi mdi-arrow-up text-success ms-2"></i></h3>
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('client_index') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/02.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Voiture à racheter</h5>
                        <h4 class="fw-medium font-size-24">{{ numberSells|length }}</h4>
                        <div class="mini-stat-label bg-danger">

                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('racheter_index') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/03.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Convoyages</h5>
                        <h4 class="fw-medium font-size-24">{{ numberConvoyages|length }}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('convoyages_index') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/04.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Expertises</h5>
                        <h4 class="fw-medium font-size-24">{{ numberExpertises|length }}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('expertises_index') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/04.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Recherches Véhicule</h5>
                        <h4 class="fw-medium font-size-24">{{ numberRecherches|length }}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('recherches_index') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/04.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Déménagement</h5>
                        {% for numberDeposit in numberDeposits %}
                            {% if numberDeposit.transport == 'demenagement' %}
                                <h4 class="fw-medium font-size-24">{{ numberDeposits|length }}</h4>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('transport1demenagement-list') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="mb-4">
                        <div class="float-start mini-stat-img me-4">
                            <img src="admin_assets/images/services-icon/04.png" alt="">
                        </div>
                        <h5 class="font-size-16 text-uppercase text-white-50">Etre déposé</h5>
                        {% for numberDeposit in numberDeposits %}
                            {% if numberDeposit.transport == 'deposer' %}
                                <h4 class="fw-medium font-size-24">{{ numberDeposits|length }}</h4>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pt-2">
                        <div class="float-end">
                            <a href="{{ path('transport1deposer-list') }}" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Cliquez pour voir la liste</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
