<aside class="col-md-3 col-md-pull-9">
    <div class="sidebar_widget sidebar_search_wrap">
        <div class="widget_heading">
            <h5><i class="fa fa-filter" aria-hidden="true"></i> Trouvez une voiture </h5>
        </div>
        <div class="sidebar_filter">
            {{ form_start(search, {attr: {class: 'filter'}}) }}
                <div class="form-group select">
                    {{ form_row(search.typevehicule) }}
                </div>
                <div class="form-group select">
                    {{ form_row(search.marques) }}
                </div>
                <div class="form-group select">
                    {{ form_row(search.min) }}
                </div>
                <div class="form-group select">
                    {{ form_row(search.max) }}
                </div>
                {#<div class="form-group">
                    <label class="form-label">Price Range ($)</label>
                    <input id="price_range" type="text" class="span2" value="" data-slider-min="50" data-slider-max="6000" data-slider-step="5" data-slider-value="[1000,5000]"/>
                </div>#}
                <div class="form-group select">
                    {{ form_row(search.minYears) }}
                </div>
                <div class="form-group select">
                    {{ form_row(search.maxYears) }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i>Cherchez</button>
                </div>
            {{ form_end(search) }}
        </div>
    </div>
</aside>