{% extends 'admin.html.twig' %}

{% block title %}Racheter index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Kilometrage</th>
                <th>Annes</th>
                <th>Enpanne</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Image Voiture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for racheter in racheters %}
            <tr>
                <td>{{ racheter.id }}</td>
                <td>{{ racheter.marque }}</td>
                <td>{{ racheter.kilometrage }}</td>
                <td>{{ racheter.annes }}</td>
                <td>{{ racheter.enpanne }}</td>
                <td>{{ racheter.nom }}</td>
               <td>{{ racheter.telephone }}</td>
{#                <td> <img src="{{ asset('/uploads/'~racheter.name) }}" alt="" class="img-responsive" style="height: 250px !important;"></td>#}
                <td> {% for image in  racheter.pictures %}
                    {% if racheter.pictures|first.name == image.name %}
                        <img src="{{ asset('/uploads/'~image.name) }}" alt="" class="img-responsive" style="height: 250px !important;">
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('racheter_show', {'id': racheter.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
