{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <section class="page-header contactus_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Nous contacter</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Nous contacter</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--Contact-us-->
    <section class="contact_us section-padding">
        <div class="container">
            <div  class="row">
                <div class="col-md-6">
                    <h3>Contactez-nous via le formulaire ci-dessous</h3>
                    <div class="contact_form gray-bg">
                        {{ form_start(contactForm) }}
                            <div class="form-group">
                                {{ form_row(contactForm.nomprenom, { 'attr': {'id': 'fullname','class': 'form-control white_bg'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(contactForm.email, { 'attr': {'id': 'emailaddress','class': 'form-control white_bg'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(contactForm.telephone, { 'attr': {'id': 'phonenumber','class': 'form-control white_bg'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(contactForm.message, {'attr': {'class': 'form-control white_bg'}}) }}
                            </div>
                            <div class="form-group">
                                <button class="btn" type="submit">Envoyer le message <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        {{ form_end(contactForm) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Informations de contact</h3>
                    <div class="contact_detail">
                        <ul>
                            <li>
                                <div class="icon_wrap"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <div class="contact_info_m"><a href="tel:61-1234-567-90">+33 07 80 99 65 14</a></div>
                            </li>
                            <li>
                                <div class="icon_wrap"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                <div class="contact_info_m"><a href="mailto:contact@exampleurl.com">moncontactauto@gmail.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Contact-us-->

    <!--Brands-->
    <section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>Popular Brands</h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                    <div><a href="#"><img src="assets/images/100x60.png" class="img-responsive" alt="image"></a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
