{% extends 'base.html.twig' %}

{% block title %}Hello Racheter1Controller!{% endblock %}

{% block body %}

    <section class="page-header listing_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>On rachète</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>On rachète</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>

    <br>

    <div class="container">
        <div class="alert alert-success" role="alert">
            Infos Véhicule:
        </div>
        {{ form_start(form) }}
        {{ form_row(form.marque) }}
        {{ form_row(form.modele) }}
        {{ form_row(form.kilometrage) }}
        {{ form_row(form.annes) }}
        {{ form_row(form.images) }}
        {{ form_row(form.enpanne) }}

        <div class="alert alert-success" role="alert">
                Vos informations:
        </div>
        {{ form_row(form.nom) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.telephone) }}
        <button class="btn ">Je vend !</button>
        {{ form_end(form) }}
        <br>
    </div>

{% endblock %}
