{% extends 'base.html.twig' %}

{% block title %}Condemenagement{% endblock %}

{% block body %}
    <h1>Condemenagement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condemenagement.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ condemenagement.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('condemenagement_index') }}">back to list</a>

    <a href="{{ path('condemenagement_edit', {'id': condemenagement.id}) }}">edit</a>

    {{ include('condemenagement/_delete_form.html.twig') }}
{% endblock %}
